trigger: none

stages:
  - stage: sastScanSonar
    pool:
     vmImage: ubuntu-latest
    jobs:
      - job: sonar
        steps:
        - checkout: self
          fetchDepth: 0
        - task: SonarCloudPrepare@3
          inputs:
            SonarQube: 'sonar-fire'
            organization: 'achintadutta04'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'achintadutta04_app-pipeline'
            cliProjectName: 'app-pipeline'
            cliSources: '.'
        - task: SonarQubeAnalyze@7
          inputs:
            jdkversion: 'JAVA_HOME_17_X64'
        - task: SonarCloudPublish@3
          inputs:
            pollingTimeoutSec: '300'