trigger: none

stages:
  - stage: sastScanSonar
    pool:
     vmImage: ubuntu-latest
    jobs:
      - job: sonar
        steps:
        - checkout: self
          fetchDepth: 0
        - task: SonarCloudPrepare@3
          inputs:
            SonarQube: 'sonar-fire'
            organization: 'achintadutta04'
            scannerMode: 'cli'
            configMode: 'manual'
            cliProjectKey: 'achintadutta04_app-pipeline'
            cliProjectName: 'app-pipeline'
            cliSources: '.'
        - task: SonarQubeAnalyze@7
          inputs:
            jdkversion: 'JAVA_HOME_17_X64'
        - task: SonarCloudPublish@3
          inputs:
            pollingTimeoutSec: '300'

  - stage: buildAndPush
    pool:
      vmImage: ubuntu-latest
    jobs:
      - job: buildAndPush
        steps:
        - task: Npm@1
          inputs:
            command: 'install'
        - task: Npm@1
          inputs:
            command: 'custom'
            customCommand: 'run build'
        - task: UniversalPackages@0
          inputs:
            command: 'publish'
            publishDirectory: '$(System.DefaultWorkingDirectory)/build'
            feedsToUsePublish: 'internal'
            vstsFeedPublish: 'a7ddfc6d-3498-4ec3-94bf-db09610f3c2a/48b8580e-3844-42ab-9afc-7cb157c57469'
            vstsFeedPackagePublish: 'todo'
            versionOption: 'custom'
            versionPublish: '1.0.0'

  - stage: release
    pool: fire
    jobs:
      - job: downloadAndDeploy
        steps:
        - task: UniversalPackages@0
          inputs:
            command: 'download'
            downloadDirectory: '$(Build.ArtifactStagingDirectory)'
            feedsToUse: 'internal'
            vstsFeed: 'a7ddfc6d-3498-4ec3-94bf-db09610f3c2a/48b8580e-3844-42ab-9afc-7cb157c57469'
            vstsFeedPackage: 'todo'
            vstsPackageVersion: '1.0.0'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'fire-vm'
            sourceFolder: '$(Build.ArtifactStagingDirectory)'
            contents: '**'
            targetFolder: '/home/tondu'
            readyTimeout: '20000'
        - task: SSH@0
          inputs:
            sshEndpoint: 'fire-vm'
            runOptions: 'commands'
            commands: 'sudo cp -r /home/tondu/* /var/www/html'
            readyTimeout: '20000'